In [11]:
import pandas as pd
import numpy as np

In [12]:
landuse_rainfed=np.load('Historical_maize_rainfed_10_1986_2005_landuse_fraction.npy',allow_pickle=True)
mask=landuse_rainfed.copy()
mask[mask<0.1]=np.nan
mask[mask>=0.1]=1.0
areainsqmeter=np.load('areainsqmeter_squared_meter_great_lake_region.npy',allow_pickle=True)
prod2000_60x60=np.load('prod2000_60x60.npy',allow_pickle=True)
prod2005_60x60=np.load('prod2005_60x60.npy',allow_pickle=True)
prod2010_60x60=np.load('prod2010_60x60.npy',allow_pickle=True)
prod_average=(prod2000_60x60+prod2005_60x60+prod2010_60x60)/3.0
production_exposure=prod_average*mask

In [13]:
mean_yields1996to2005=np.load('mean_yields1996to2005.npy')
mean_yields2006to2015_rcp26=np.load('mean_yields2006to2015_rcp26.npy')
mean_yields2006to2015_rcp60=np.load('mean_yields2006to2015_rcp60.npy')
RefYields=mean_yields1996to2005/2+(mean_yields2006to2015_rcp26+mean_yields2006to2015_rcp60)/4

In [14]:
yield2050RCP26=np.load('rcp26_2050s_maize_noirr_2040-2069_averaged_yield.npy')
yield2080RCP26=np.load('rcp26_2080s_maize_noirr_20_2070-2099_averaged_yield.npy')
yield2050RCP60=np.load('rcp60_2050s_maize_noirr_2040-2069_averaged_yield.npy')
yield2080RCP60=np.load('rcp60_2080s_maize_noirr_20_2070-2099_averaged_yield.npy')

In [15]:
X=np.load('rainfed_maize_production_Xgrid.npy')
Y=np.load('rainfed_maize_production_Ygrid.npy')

In [16]:
pnt_IA=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_IA.csv')
pnt_MN=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_MN.csv')
pnt_WI=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_WI.csv')
pnt_IL=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_IL.csv')
pnt_MI=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_MI.csv')
pnt_IN=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_IN.csv')
pnt_OH=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_OH.csv')
pnt_NY=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_NY.csv')
pnt_PA=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_PA.csv')
pnt_MD=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_MD.csv')
pnt_ON=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_ON.csv')
pnt_QC=pd.read_csv('state_province_gridcell_csvfiles\Gridcell_QC.csv')

In [17]:
pnt_IA

    Unnamed: 0    lon    lat                coords
0         2587 -96.25  43.25  POINT (-96.25 43.25)
1         2588 -95.75  43.25  POINT (-95.75 43.25)
2         2589 -95.25  43.25  POINT (-95.25 43.25)
3         2590 -94.75  43.25  POINT (-94.75 43.25)
4         2591 -94.25  43.25  POINT (-94.25 43.25)
..         ...    ...    ...                   ...
60        2893 -93.25  40.75  POINT (-93.25 40.75)
61        2894 -92.75  40.75  POINT (-92.75 40.75)
62        2895 -92.25  40.75  POINT (-92.25 40.75)
63        2896 -91.75  40.75  POINT (-91.75 40.75)
64        2897 -91.25  40.75  POINT (-91.25 40.75)

[65 rows x 4 columns]

In [18]:
data=production_exposure.flatten()
data_exposure=data[pnt_ON['Unnamed: 0']]
np.around(np.nansum(data_exposure),0)

4462449.0

In [22]:
table1=pd.read_csv('table1.csv')

In [23]:
table1

      Province/State  Exposure    Risk1    Risk2    Risk3    Risk4
0       Ontario (ON)   4462449  -260680   108267  -168791  -337552
1        Quebec (QC)   3028431   -44008   115594    46858  -124816
2          Iowa (IA)  51708792 -1753337 -1033479 -2693973 -5832673
3      Minnesota(MN)  28733827  -695961  -272452  -539941 -2743203
4      Wisconsin(WI)  10838648  -530686  -112530  -700880 -1267455
5       Illinois(IL)  46508709 -1561850   407945 -2045446 -3687275
6       Michigan(MI)   6544999  -387256     -388  -383530  -665748
7        Indiana(IN)  19701342  -658048   350140  -620465 -1506062
8          Ohio (OH)  12477239  -297931   313573  -418820 -1035445
9      New York (NY)   1563337   -26158    57433     4581   -50650
10  Pennsylvania(PA)   3510597   -83952    28073   -58946  -298557
11      Maryland(MD)    810646   -45115   -45205   -20129   -72320

In [31]:
table2=table1.copy()

In [32]:
table2['Risk1']=table2['Risk1']*335.72/1000000

In [33]:
table2['Risk1']

0     -87.515490
1     -14.774366
2    -588.630298
3    -233.648027
4    -178.161904
5    -524.344282
6    -130.009584
7    -220.919875
8    -100.021395
9      -8.781764
10    -28.184365
11    -15.146008
Name: Risk1, dtype: float64

In [34]:
table2['Risk2']=table2['Risk2']*335.72/1000000

In [35]:
table2['Risk3']=table2['Risk3']*335.72/1000000

In [36]:
table2['Risk4']=table2['Risk4']*335.72/1000000

In [37]:
table2

,Province/State,Exposure,Risk1,Risk2,Risk3,Risk4
0,Ontario (ON),4462449,-87.515490,36.347397,-56.666515,-113.322957
1,Quebec (QC),3028431,-14.774366,38.807218,15.731168,-41.903228
2,Iowa (IA),51708792,-588.630298,-346.959570,-904.420616,-1958.144980
3,Minnesota(MN),28733827,-233.648027,-91.467585,-181.268993,-920.948111
4,Wisconsin(WI),10838648,-178.161904,-37.778572,-235.299434,-425.509993
5,Illinois(IL),46508709,-524.344282,136.955295,-686.697131,-1237.891963
6,Michigan(MI),6544999,-130.009584,-0.130259,-128.758692,-223.504919
7,Indiana(IN),19701342,-220.919875,117.549001,-208.302510,-505.615135
8,Ohio (OH),12477239,-100.021395,105.272728,-140.606250,-347.619595
9,New York (NY),1563337,-8.781764,19.281407,1.537933,-17.004218
10,Pennsylvania(PA),3510597,-28.184365,9.424668,-19.789351,-100.231556
11,Maryland(MD),810646,-15.146008,-15.176223,-6.757708,-24.279270

In [38]:
7.143*335.72

2398.0479600000003

In [39]:
0.897*335.72

301.14084

In [40]:
335.72*8.427

2829.11244

In [41]:
335.72*20.571

6906.096120000001